body{
  font-size: 16px;
}

/*
nav
*/
nav.navbar-default{
  border-radius: 0px;
  border: 0px ;
  border-bottom: 1px solid #C2D8D9;
  margin-bottom: 0px;
}

nav.navbar-default .navbar-brand{
  color: white;
/*  padding-right:  80px;
padding-left:  80px;*/

}

.navbar-header a{
  text-align: center;
  float:  none;
  display: block;
}

nav.navbar{
  background-color: #3AC9D6;
  padding-top: 5px;
}

nav.navbar-default a.menu{
  color: #90E0E8
}

nav.navbar form{
  padding-left: 0px;
}

nav .search input{
  background-color: #75D9E2;
  border: 1px solid #75D9E2;
  border-right-color: #75D9E2;
  border-radius: 0px;
  color: white;
}

nav .search button{
  background-color: #75D9E2;
  border: 0px ;
  border-radius: 0px;
  color: white;
}

nav .search .input-group-btn{
  border: 1px solid #75D9E2;
}

nav.navbar .menu-bell{
  border: 1px solid #90E0E8;
  border-radius: 100%;
  padding: 5px 7px;
  margin-top: 8px;
}

nav.navbar .menu-bell{
  border: 3px solid #90E0E8;
  border-radius: 100%;
  padding: 3px 6px;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}
.navbar-right li{
  margin-left: 5px;
}

.menu-bell .badge{
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.blue.badge{
  background: #1487E1;
}

.red.badge{
  background: #F86973;
}

.navbar-right a.avatar {
  margin-top: 8px;
  padding-top: 0px;
  padding-left: 5px;
}

.avatar img{
  height: 31px;
  border-radius: 50%;
}

/*
menu
*/
.menu_bar{
  padding: 0px;
  border-right: 2px solid #EDEDED;
}

.menu ul{
  padding-left: 0px;
}

.menu li{
  display: block;
  font-size: 18px;
}


.menu a{
  color: #43484F;
}

li.menu_sub_header{
  margin-left: 10px;
  font-size: 16px;

}

li.menu_item{
  padding: 10px;
}

li.menu a{
  width: 100%;
  display: block;
  position: relative;
}

li.menu_item.active{
  background-color: #F2F2F2;
}

span.add{
  position: absolute;
  right: 0;
}

span.badge{
  position: absolute;
  right: 0;
}

.menu_item span{
  padding-right: 10px;
}

.menu_item span.no-icon{
  padding-right: 28px;
}

.menu_item .badge{
  background-color: #41D092;
}

.menu_item .badge.new{
  background-color: #F4757F;
}

/*
dashboard body
*/
.dashboard-body{
  background-color: #F3F3F3;
}

/*
breadcrumbs
*/

.breadcrumbs{
  background-color: #FFFFFF;
  font-size: 20px;
  box-shadow: 1px 3px 0px #DBDBDB;
  padding: 12px;
}

.dashboard-body .breadcrumb{
  display: inline;
  float: right;
  font-size: 16px;
  background-color: #FFFFFF;
  padding: 0px;
  margin-bottom: 0px;
}

/*
number-card
*/
.number-card{
  background-color: #FFFFFF;
  text-align: center;
  margin: 20px 0px;
  padding: 0px;
  box-shadow: 1px 1px 5px #DEDEDE;
}

.red{
  color: #F37E87;
}

.black{
  color: #424549;
}

.green{
  color: #67D6A5;
}

.yellow{
  color: #F8C551;
}

.blue{
  color: #3B9AE6;
}

.metric{
  font-size: 30px;
}

.number-card .title{
  padding-top: 12px;
  font-size: 16px;
  color: #9B9999;
}

.number-card .last{
  font-size: 14px;
  color: #CDCECF;
  padding-bottom: 12px;
}
